#appRouter {
  width: 100% !important;
  height: 1000px !important;
}

#About-container {
  width: 100% !important;
  height: 1000px !important;
}

#about-blurb {
  background-color: black;
  color: white;
  width: 50%;
  align-content: center;
  margin: auto;
  font-size: x-large;
}